* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    font-weight: bold;
}

h1, h2 {
    margin-top: 4px;
    font-weight: normal;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


nav {
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: space-evenly;
}


section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    color: rgb(22, 22, 66);
    font-size: 1.1em;
    max-width: 1200px;
    justify-content: space-evenly;
    flex: 1;


}

footer {
    background-color: rgb(38, 32, 32);
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: auto;
}

table, td, th {
    border: 1px black;
    border-collapse: collapse;
}